#main, .large-cell-content {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

#main {
    background-color: darkblue;
}

#text {
    height: 50px;
    font-size: x-large;
    background-color: black;
    color: blanchedalmond;
}

.large-cell {
    background-color: yellowgreen;
}

.large-cell, .small-cell {
    flex: 0 31%;
    margin-bottom: 1%; 
    align-items: center;
    justify-content: center;
}

.small-cell {
    background-color: cornsilk;
    /* height: 100px; */
    align-items: center;
    align-self: center;
}

.small-cell:hover {
    background-color: cadetblue;
}

.small-cell > p {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;   /* <--- Change here */
    font-size: xx-large;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.large-cell::after {
    content: "";
    flex: auto;
}

.last-row {
    background-color: darkgreen;
}